<div class="background">
    <div class="side_container">
        <img class="logo" src="../assets/logo.png">
        <div class="usermane"><p>You are conected as {{client.username}}</p></div>

        <div class="menuBox">
            <div class="menuTag" (click)="listAllBooks()"><b>List All Books</b></div>
        </div>
		
        <div class="menuBox">
            <div class="menuTag" (click)="toggleVisualisationSearch()"><b>Search</b></div>
            <div id="innerSearchBox">
                <form class = "searchForm" #searchBookFormClient="ngForm" (ngSubmit) = "searchBooks(searchBookFormClient.value)">
                    <select class="searchItem" name = "type" #stype="ngModel" ngModel required>
                        <option value="title">Title</option>
                        <option value="author">Author</option>
                        <option value="publishingHouse">Publishing house</option>
                        <option value="genre">Genre</option>
                    </select>
                    <div *ngIf="stype.invalid && (stype.dirty || stype.touched)">		 
                        <div class="messageAlert" *ngIf="stype.errors.required">select a criteria for search</div>
                    </div>

                    <input class="searchItem" type="text" placeholder = "search here" name = "key" #skey = "ngModel" ngModel required>
                    <div *ngIf="skey.invalid && (skey.dirty || skey.touched)">		 
                        <div class="messageAlert" *ngIf="skey.errors.required"></div>
                    </div>

                    <input class="searchItem" [disabled]="stype.invalid || skey.invalid"
                         type="submit" (click)="goToShowQueryResultPage()" value = "Search"/>
                </form>
            </div>
        </div>

        <div class="menuBox">
            <div class="menuTag" (click)="toggleVisualisationGenres()"><b>Genres</b></div>
                <div id="innerGenreBox">
                <div id="genre" (click)="goToLiteraryRealismPage()">Literary realism</div>
                <div id="genre" (click)="goToPoetryPage()">Poetry</div>
                <div id="genre" (click)="goToDramaPage()">Drama</div>
                <div id="genre" (click)="goToRomancePage()">Romance</div>
                <div id="genre" (click)="goToFantasyPage()">Fantasy</div>
                <div id="genre" (click)="goToEconomyPage()">Economy</div>
                <div id="genre" (click)="goToSciencePage()">Science</div>
                <div id="genre" (click)="goToPhilosophyPage()">Philosophy</div>
            </div>
        </div>

        <div class="menuBox">
            <div class="menuTag" (click)="goToAboutUsPage()"><b>About Us</b></div>
        </div>

        <div class="menuBox">
            <div class="menuTag" (click)="logout()"><b>Logout</b></div>
        </div>
    </div>


    <div class="main">

        <div id="about-us" class="about-us">
            <div class="simpleText">
            <h2>About Us</h2>
                <p>
                    &emsp;&emsp;&emsp;We are a digital library ready with the mission in making reading a more 
                    widespread activity for the people of any age of background. This would be an immense 
                    achivement for us and creating a better world can be done only through the wisdom a book 
                    can bring.That's why we encourage you to read and to make reading a useful and also 
                    relaxing activity. We hope that our library can come in helping you to take a wise 
                    decision in this aspect.
                </p>

                <p>
                    &emsp;&emsp;&emsp;Using our library you can read the book you like by searching it.
                    Our books are divided in categories, so you can find them easier. You can read and learn
                    about each category in depth in our option "Genres".Your search can be using data about
                    the a book's genre, author or publishing house.You can give each book a grade, helping 
                    us to find better option for you in the future.Hope you enjoy our library!
                </p>

                <h3>Contact</h3>
                    <br>
                    &emsp;&emsp;&emsp;Administrator: Paul Astalas
                    <br>
                    &emsp;&emsp;&emsp;For more informations, call here: 0745240288
                    <br>
                    &emsp;&emsp;&emsp;Adress: Street Observatorului,No 7,City Cluj-Napoca,County Cluj,Romania
            </div>
        </div>

        <div class="categories">

            <div id="literary-realism">
                <div class="simpleText">
                <h2>Literary Realism</h2>
                    <p>
                        &emsp;&emsp;&emsp;Literary realism is part of the realist art movement beginning                         with mid nineteenth-century French literature (Stendhal), and Russian literature 
                        (Alexander Pushkin) and extending to the late nineteenth and early twentieth century.
                        Literary realism, in contrast to idealism, attempts to represent familiar things as 
                        they are.Realist authors chose to depict everyday and banal activities and 
                        experiences, instead of using a romanticized or similarly stylized presentation.
                    </p>

                    <p>
                        &emsp;&emsp;&emsp;Realism as a movement in literature was a post-1848 phenomenon, 
                        according to its first theorist Jules-Français Champfleury. It aims to reproduce 
                        "objective reality", and focused on showing everyday, quotidian activities and life, 
                        primarily among the middle or lower class society, without romantic idealization or 
                        dramatization. It may be regarded as the general attempt to depict subjects as 
                        they are considered to exist in third person objective reality, without embellishment 
                        or interpretation and "in accordance with secular, empirical rules." As such, the 
                        approach inherently implies a belief that such reality is ontologically independent 
                        of man's conceptual schemes, linguistic practices and beliefs, and thus can be known 
                        (or knowable) to the artist, who can in turn represent this 'reality' faithfully. As 
                        literary critic Ian Watt states in The Rise of the Novel, modern realism "begins from 
                        the position that truth can be discovered by the individual through the senses" and as 
                        such "it has its origins in Descartes and Locke, and received its first full formulation
                        by Thomas Reid in the middle of the eighteenth century."
                    </p>       
                </div> 
            </div>

            <div id="poetry">
                <div class="simpleText">
                <h2>Poetry</h2>
                    <p>
                        &emsp;&emsp;&emsp;Poetry (the term derives from a variant of the Greek term, poiesis,
                        "making") is a form of literature that uses aesthetic and rhythmic qualities of 
                        language—such as phonaesthetics, sound symbolism, and metre—to evoke meanings in 
                        addition to, or in place of, the prosaic ostensible meaning.
                    </p>
        
                    <p>
                        &emsp;&emsp;&emsp;Poetry uses forms and conventions to suggest differential 
                        interpretation to words, or to evoke emotive responses. Devices such as assonance, 
                        alliteration, onomatopoeia and rhythm are sometimes used to achieve musical or 
                        incantatory effects. The use of ambiguity, symbolism, irony and other stylistic 
                        elements of poetic diction often leaves a poem open to multiple interpretations. 
                        Similarly figures of speech such as metaphor, simile and metonymy create a 
                        resonance between otherwise disparate images—a layering of meanings, forming 
                        connections previously not perceived. Kindred forms of resonance may exist, between 
                        individual verses, in their patterns of rhyme or rhythm.
                    </p>       

                    <p>
                        &emsp;&emsp;&emsp;Some poetry types are specific to particular cultures and genres 
                        and respond to characteristics of the language in which the poet writes. Readers 
                        accustomed to identifying poetry with Dante, Goethe, Mickiewicz and Rumi may think 
                        of it as written in lines based on rhyme and regular meter; there are, however, 
                        traditions, such as Biblical poetry, that use other means to create rhythm and 
                        euphony. Much modern poetry reflects a critique of poetic tradition, playing with
                        and testing, among other things, the principle of euphony itself, sometimes 
                        altogether forgoing rhyme or set rhythm. In today's increasingly globalized 
                        world, poets often adapt forms, styles and techniques from diverse cultures and 
                        languages.
                    </p>
                </div> 
            </div>

            <div id="drama">
                <div class="simpleText">    
                <h2>Drama</h2>
                    <p>
                        &emsp;&emsp;&emsp;Drama is the specific mode of fiction represented in 
                        performance. Considered as a genre of poetry in general, the dramatic 
                        mode has been contrasted with the epic and the lyrical modes ever since 
                        Aristotle's Poetics (c. 335 BC)—the earliest work of dramatic theory.
                    </p>
            
                    <p>
                        &emsp;&emsp;&emsp;The term "drama" comes from a Greek word meaning "action" 
                        (Classical Greek: δρᾶμα, drama), which is derived from "I do" (Classical Greek:
                        δράω, drao). The two masks associated with drama represent the traditional 
                        generic division between comedy and tragedy. They are symbols of the ancient
                        Greek Muses, Thalia, and Melpomene. Thalia was the Muse of comedy (the laughing 
                        face), while Melpomene was the Muse of tragedy (the weeping face).
                    </p>       
        
                    <p>
                        &emsp;&emsp;&emsp;The enactment of drama in theatre, performed by actors on a 
                        stage before an audience, presupposes collaborative modes of production and a 
                        collective form of reception. The structure of dramatic texts, unlike other 
                        forms of literature, is directly influenced by this collaborative production 
                        and collective reception. The early modern tragedy Hamlet (1601) by Shakespeare 
                        and the classical Athenian tragedy Oedipus Rex (c. 429 BC) by Sophocles are 
                        among the masterpieces of the art of drama. A modern example is Long Day's 
                        Journey into Night by Eugene O’Neill (1956).
                    </p>

                    <p>
                        &emsp;&emsp;&emsp;Drama is often combined with music and dance: the drama in 
                        opera is generally sung throughout; musicals generally include both spoken 
                        dialogue and songs; and some forms of drama have incidental music or musical 
                        accompaniment underscoring the dialogue (melodrama and Japanese Nō, for example). 
                        Closet drama describes a form that is intended to be read, rather than performed. 
                        In improvisation, the drama does not pre-exist the moment of performance; 
                        performers devise a dramatic script spontaneously before an audience.
                    </p>
                </div> 
            </div>

            <div id="romance">
                <div class="simpleText">
                <h2>Romance</h2>
                <p>
                    &emsp;&emsp;&emsp;The romance novel or romantic novel is a mass-market literary genre. 
                    Novels of this type of genre fiction place their primary focus on the relationship and 
                    romantic love between two people, and must have an "emotionally satisfying and optimistic 
                    ending".There are many subgenres of the romance novel including fantasy, historical 
                    romance, paranormal fiction, and science fiction. Walter Scott defined the literary fiction 
                    form of romance as "a fictitious narrative in prose or verse; the interest of which turns 
                    upon marvellous and uncommon incidents".
                </p>
                
                <p>
                    &emsp;&emsp;&emsp;A thriving genre of works conventionally referred to as "romance novels" 
                    existed in ancient Greece. Some scholars see precursors to modern genre fiction romance 
                    novels in literary fiction of the 18th and 19th centuries, including Samuel Richardson's 
                    sentimental novel Pamela, or Virtue Rewarded (1740) and the novels of Jane Austen.


                </p>       
            
                <p>
                    &emsp;&emsp;&emsp;According to the Romance Writers of America, the main plot of a romance 
                    novel must revolve about the two people as they develop romantic love for each other and 
                    work to build a relationship. Both the conflict and the climax of the novel should be 
                    directly related to that core theme of developing a romantic relationship, although the 
                    novel can also contain subplots that do not specifically relate to the main characters' 
                    romantic love. Furthermore, a romance novel must have an "emotionally satisfying and 
                    optimistic ending." Others, including Leslie Gelbman, a president of Berkley Books, define 
                    the genre more simply, stating only that a romance must make the "romantic relationship 
                    between the hero and the heroine ... the core of the book." In general, romance novels 
                    reward characters who are good people and penalize those who are evil, and a couple who 
                    fights for and believes in their relationship will likely be rewarded with unconditional 
                    love.Bestselling author Nora Roberts sums up the genre, saying: "The books are about 
                    the celebration of falling in love and emotion and commitment, and all of those things we 
                    really want." Women's fiction (including "chick lit") is not directly a subcategory of 
                    the romance novel genre, because in women's fiction the heroine's relationship with her 
                    family or friends may be as important as her relationship with the hero.
                </p>
                </div> 
            </div>

            <div id="fantasy">
                <div class="simpleText">
                <h2>Fantasy</h2>
                <p>
                    &emsp;&emsp;&emsp;Fantasy is a genre of fiction set in a fictional universe, often, but not 
                    always, without any locations, events, or people referencing the real world. Its roots are 
                    in oral traditions, which then developed into literature and drama. From the twentieth 
                    century it has expanded further into various media, including film, television, graphic 
                    novels and video games.
                </p>
                
                <p>
                    &emsp;&emsp;&emsp;Most fantasy uses magic or other supernatural elements as a main plot 
                    element, theme, or setting. Magic and magical creatures are common in many of these worlds. 
                    Fantasy is a subgenre of speculative fiction and is distinguished from the genres of science 
                    fiction and horror by the absence of scientific or macabre themes respectively, though these
                    genres overlap.
                </p>       
                
                <p>
                    &emsp;&emsp;&emsp;In popular culture, the fantasy genre is predominantly of the medievalist 
                    form. In its broadest sense, however, fantasy comprises works by many writers, artists, 
                    filmmakers, and musicians from ancient myths and legends to many recent and popular works.
                </p>

                <p>
                    &emsp;&emsp;&emsp;The identifying trait of fantasy is the author's reliance on imagination 
                    to create narrative elements that do not have to rely on history or nature to be coherent.
                    This differs from realistic fiction in that whereas realistic fiction has to attend to the 
                    history and natural laws of reality, fantasy does not. An author applies his or her 
                    imagination to come up with characters, plots, and settings that are impossible in reality. 
                    Many fantasy authors use real-world folklore and mythology as inspiration; and although 
                    for many the defining characteristic of the fantasy genre is the inclusion of supernatural 
                    elements, such as magic,this does not have to be the case. For instance, a narrative 
                    that takes place in an imagined town in the northeastern United States could be considered 
                    realistic fiction as long as the plot and characters are consistent with the history of a 
                    region and the natural characteristics that someone who has been to the northeastern United 
                    States expects; when, however, the narrative takes place in an imagined town, on an imagined 
                    continent, with an imagined history and an imagined ecosystem, the work becomes fantasy with 
                    or without supernatural elements.
                </p>
                </div> 
            </div>
        
            <div id="economy">
                <div class="simpleText">
                <h2>Ecomomy</h2>
                <p>
                    &emsp;&emsp;&emsp;An economy (from Greek οίκος – "household" and νέμoμαι – "manage") is an 
                    area of the production, distribution, or trade, and consumption of goods and services by 
                    different agents. Understood in its broadest sense, 'The economy is defined as a social 
                    domain that emphasizes the practices, discourses, and material expressions associated with 
                    the production, use, and management of resources'. Economic agents can be individuals, 
                    businesses, organizations, or governments. Economic transactions occur when two parties 
                    agree to the value or price of the transacted good or service, commonly expressed in a 
                    certain currency. Monetary transactions only account for a small part of the economic domain.
                </p>
                
                <p>
                    &emsp;&emsp;&emsp;Economic activity is spurred by production which uses natural resources, 
                    labor, and capital. It has changed over time due to technology (automation, accelerator of 
                    process, reduction of cost functions), innovation (new products, services, processes, new 
                    markets, expands markets, diversification of markets, niche markets, increases revenue 
                    functions) such as, that which produces intellectual property and changes in industrial 
                    relations (for example, child labor being replaced in some parts of the world with universal 
                    access to education).


                </p>       
                
                <p>
                    &emsp;&emsp;&emsp;A given economy is the result of a set of processes that involves its 
                    culture, values, education, technological evolution, history, social organization, political
                    structure and legal systems, as well as its geography, natural resource endowment, and 
                    ecology, as main factors. These factors give context, content, and set the conditions 
                    and parameters in which an economy functions. In other words, the economic domain is a 
                    social domain of human practices and transactions. It does not stand alone.
                </p>

                <p>
                    &emsp;&emsp;&emsp;A market-based economy is where goods and services are produced and 
                    exchanged according to demand and supply between participants (economic agents) by barter 
                    or a medium of exchange with a credit or debit value accepted within the network, such as 
                    a unit of currency.
                </p>

                <p>
                    &emsp;&emsp;&emsp;A command-based economy is where political agents directly control what 
                    is produced and how it is sold and distributed.A green economy is low-carbon, resource 
                    efficient, and socially inclusive. In a green economy, growth in income and employment 
                    are driven by public and private investments that reduce carbon emissions and pollution, 
                    enhance energy and resource efficiency, and prevent the loss of biodiversity and ecosystem 
                    services.
                </p>
                </div> 
            </div>

            <div id="science">
                <div class="simpleText">
                <h2>Science</h2>
                <p>
                    &emsp;&emsp;&emsp;Science (from Latin scientia, meaning "knowledge") is a systematic 
                    enterprise that builds and organizes knowledge in the form of testable explanations and 
                    predictions about the universe.
                </p>
                    
                <p>
                    &emsp;&emsp;&emsp;Contemporary science is typically subdivided into the natural sciences 
                    which study the material world, the social sciences which study people and societies, 
                    and the formal sciences like mathematics. Because the formal sciences do not depend on 
                    empirical observations, some consider formal sciences like mathematics to be not science,
                    while others do consider the formal sciences to be part of science, but different from the 
                    empirical sciences. Disciplines which use science like engineering and medicine may also 
                    be considered to be applied sciences. Science is related to research, and is normally 
                    organized by a university, a college, or a research institute.
                </p>       
                    
                <p>
                    &emsp;&emsp;&emsp;A given economy is the result of a set of processes that involves its 
                    culture, values, education, technological evolution, history, social organization, political
                    structure and legal systems, as well as its geography, natural resource endowment, and 
                    ecology, as main factors. These factors give context, content, and set the conditions 
                    and parameters in which an economy functions. In other words, the economic domain is a 
                    social domain of human practices and transactions. It does not stand alone.
                </p>

                <p>
                    &emsp;&emsp;&emsp;From classical antiquity through the 19th century, science as a type of 
                    knowledge was more closely linked to philosophy than it is now and, in fact, in the West 
                    the term "natural philosophy" encompassed fields of study that are today associated with 
                    science such as physics, astronomy, medicine, among many others.In the 17th and 18th 
                    centuries scientists increasingly sought to formulate knowledge in terms of laws of nature. 
                    As a slow process over centuries, the word "science" became increasingly associated with 
                    what is today known as the scientific method, a structured way to study the natural world.
                </p>
                </div> 
            </div>

            <div id="philosophy">
                <div class="simpleText">
                <h2>Philosophy</h2>
                <p>
                    &emsp;&emsp;&emsp;Philosophy (from Greek φιλοσοφία, philosophia, literally "love of wisdom") 
                    is the study of general and fundamental problems concerning matters such as existence, 
                    knowledge, values, reason, mind, and language. The term was probably coined by 
                    Pythagoras (c. 570–495 BCE). Philosophical methods include questioning, critical discussion, 
                    rational argument, and systematic presentation. Classic philosophical questions include: 
                    Is it possible to know anything and to prove it? What is most real? Philosophers also 
                    pose more practical and concrete questions such as: Is there a best way to live? Is 
                    it better to be just or unjust (if one can get away with it)? Do humans have free will?
                </p>
                        
                <p>
                    &emsp;&emsp;&emsp;Historically, "philosophy" encompassed any body of knowledge.From the time 
                    of Ancient Greek philosopher Aristotle to the 19th century, "natural philosophy" encompassed 
                    astronomy, medicine, and physics. For example, Newton's 1687 Mathematical Principles of 
                    Natural Philosophy later became classified as a book of physics. In the 19th century, the 
                    growth of modern research universities led academic philosophy and other disciplines to 
                    professionalize and specialize. In the modern era, some investigations that were 
                    traditionally part of philosophy became separate academic disciplines, including psychology, 
                    sociology, linguistics, and economics.
                </p>       
                        
                <p>
                    &emsp;&emsp;&emsp;Other investigations closely related to art, science, politics, or other 
                    pursuits remained part of philosophy. For example, is beauty objective or subjective? 
                    Are there many scientific methods or just one? Is political utopia a hopeful dream or 
                    hopeless fantasy? Major sub-fields of academic philosophy include metaphysics 
                    ("concerned with the fundamental nature of reality and being"),epistemology (about the 
                    "nature and grounds of knowledge [and]...its limits and validity" ), ethics, aesthetics, 
                    political philosophy, logic, philosophy of science, and the history of Western philosophy.
                </p>
        
                <p>
                    &emsp;&emsp;&emsp;Since the 20th century, professional philosophers contribute to society 
                    primarily as professors. However, many of those who study philosophy in undergraduate or 
                    graduate programs contribute in the fields of law, journalism, politics, religion, science, 
                    business and various art and entertainment activities.
                </p>
                </div> 
            </div>  
        </div>      

        <div id="showQueryResult">
            <div class="searchMessage">
                <h2>Result of search:</h2>
            </div>
            <table class="resultTable">
                <tr class="resultsCollums">
                    <th class="resultsRows">Title</th>
                    <th class="resultsRows">Author</th>
                    <th class="resultsRows">Genre</th>
                    <th class="resultsRows">Publishing House</th>
                    <th class="resultsRows">Grade</th>
                </tr>

                <tr class="resultsCollums" *ngFor="let book of searchResultBooks">
                    <td class="resultsRows">{{ book.title }}</td>
                    <td class="resultsRows">{{ book.author }}</td>
                    <td class="resultsRows">{{ book.genre }}</td>
                    <td class="resultsRows">{{ book.publishingHouse }}</td>
                    <td class="resultsRows">{{ book.grade }}</td>
                    <td class="resultsRows" (click)="readSelectedBook(book)"><b>Read</b></td>
                </tr>
            </table>    
        </div>

        <div id="read-book">
            <div id="openPDF">
            </div> 

            <div class="grade" id="gradeSelectedBook">
                <p>
                    Please review the book you've read by offering it a grade from 1 to 10.
                </p>
                        
                <form class="gradeForm" #gradeFormClient="ngForm" (ngSubmit) = "updateGrade(gradeFormClient.value)">
                    <input class="inputBox" type = "text" name = "grade" placeholder = "grade" #fgrade = "ngModel" ngModel required>
                    <div *ngIf="fgrade.invalid && (fgrade.dirty || fgrade.touched)">		 
                        <div class="messageAlert" *ngIf="fgrade.errors.required">grade is required</div>
                    </div>
                    <div class="messageAlert" *ngIf="!checkGradeValue()">grade needs to be between 0 and 10</div>

                    <input class="butonGrade" type="submit" [disabled]="fgrade.invalid" value = "Submit grade"/>
                </form>
            </div> 

        </div>

    </div>
</div>
