.background{
    background-color:rgb(230, 222, 222);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.logo{
    margin: 10px 60px;
}

.usermane{
    margin-left: 20px;
}

.side_container{
    opacity: 0.88;
    background-color: rgb(192, 64, 64);
    width: 300px;
    height: 100%;
    margin: 0px;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
}

.main{
    margin: 0px 0px 0px 300px;
    margin-top: 0px; 
    overflow-x: hidden; 
}

.about-us{
    margin: 0px 90px;
}

.categories
{
    margin: 0px 90px;
}

.simpleText{
    font-size: 15px;
    margin-top: 30px;
    overflow-x: hidden; 
}

.searchMessage{
    margin: 20px 50px;
}

.messageAlert{
    font-size: 11px;
    color: red; 
    margin: 4px 20px;
}

.resultTable{
    border: 3px solid black;
    background-color: rgb(252, 42, 42); 
    margin : 90px 0px 0px 70px;
}

.resultsCollums{
    border: 3px solid black;
    padding: 0px 25px;
    background-color: rgb(226, 45, 45); 
}

.resultsRows{
    border: 3px solid black;
    padding: 0px 25px;
    background-color: rgb(226, 45, 45);
}

.grade{
    margin:20px 30px;
}

.menuBox{
    width: 240px;
    margin:24px 20px;
    border: 2px solid rgb(201, 14, 14);
    background-color: rgb(245, 185, 185)

}

.menuTag{
    background:none;
    border:none;
    margin: 0px 40px;
    padding:0;
    font-size: 20px;
}

.searchItem{
    border-radius: 10px;
    margin: 5px 20px;
    height: 30px;
    width: 150px;
}




