.background{
    background-image: url('../../assets/bookshelf.jpg');
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}

.loginForm{   
    width:20%;
    height:50%;
    margin: 160px 520px;
    background-color:rgb(192, 190, 196);
}

.inputBox{
    border-radius: 10px;
    margin:5px 50px;
    height: 35px;
    width: 180px; 
}

.buton{
    border-radius: 10px;
    height: 40px;
    width : 120px;
    margin:10px 75px;    
}


.messageAlert{
    font-size: 11px;
    color: red; 
    margin: 4px 60px;
}

.messageLoginFailed{
    font-size: 13px;
    margin: 4px 45px;
}



